# Entornos virtuales
venv/
.venv/
env/
ENV/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Variables de entorno y secretos
.env
.flaskenv

# Configuraciones de Visual Studio Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json

# Archivos de datos generados
*.csv

# Sistema operativo
.DS_Store
Thumbs.db

# Distribución / Paquetes
dist/
build/
*.egg-info/

#Otros
.Tarea_1_Aprendizaje_Supervisado.pdf